@page "/insert"
@rendermode InteractiveServer

@using Dashboard.Models
@using Dashboard.Data
@using Dashboard.Services
@inject DataContext _dataContext
@inject EmployeeService employeeService
@inject ProductService productService
@inject AiUsageService aiUsageService
@inject MudBlazor.ISnackbar snackBar

<MudContainer>
<h3>Live Data</h3>
    <MudTabs Elevation="4" Rounded="true" Color="@MudBlazor.Color.Primary">
    <MudTabPanel Text="AI Usage">
            <MudItem xs="12" sm="6">
                <MudCard>
                    <MudCardHeader>
                        <MudText>State AI Usage Info</MudText>
                    </MudCardHeader>
                    <MudCardContent>
                @* <EditForm Model="@aiUsage" OnValidSubmit="OnValidSubmitAi">
                    <MudItem> *@
                        <MudTextField Label="StateName" @bind-Value="@aiUsage.StateName" />
                        <MudTextField Label="Usage" @bind-Value="@aiUsage.Usage" />
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled">Save</MudButton>
                    @* </MudItem> *@
                @* </EditForm> *@
                    </MudCardContent>
                </MudCard>
            </MudItem>

            <MudTable Elevation="25" Items="AiUsageList" Filter="new Func<AiUsage, bool>(Search)" @bind-aiUsage="aiUsage">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Ai Usage</MudText>
        <MudToolBarSpacer />
        <MudTextField @bind-Value="searchString" Placeholder="Search for Ai Usage..." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="MudBlazor.Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>State Name</MudTh>
        <MudTh>Usage</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@aiUsage.StateName</MudTd>
                    <MudTd DataLabel="Usage">@aiUsage.Usage</MudTd>
        <MudTd DataLabel="">
                        <MudFab @onclick="@(()=>Edit(aiUsage.Id))" Color="MudBlazor.Color.Primary" Icon="@Icons.Material.Filled.Edit" Size="MudBlazor.Size.Small" IconSize="MudBlazor.Size.Small" />
                        <MudFab @onclick="@(()=>Delete(aiUsage.Id))" Color="MudBlazor.Color.Secondary" Icon="@Icons.Material.Filled.Delete" Size="MudBlazor.Size.Small" IconSize="MudBlazor.Size.Small" />
        </MudTd>
    </RowTemplate>
</MudTable>

            @* <MudItem xs="12" sm="6">
                <MudDataGrid T="AiUsage" Items="AiUsageList">
                    <Columns>
                        <PropertyColumn Property="x => x.StateName" Title="State Name"></PropertyColumn>
                        <PropertyColumn Property="x => x.Usage" Title="Usage"></PropertyColumn>
                        <TemplateColumn StickyRight="true">
                            <CellTemplate>
                                <MudIconButton Icon="@Icons.Material.Outlined.Edit" Size="@MudBlazor.Size.Small" />
                            </CellTemplate>
                        </TemplateColumn>
                    </Columns>
                </MudDataGrid>
            </MudItem> *@
    </MudTabPanel>
    <MudTabPanel Text="Products">
         @foreach(var prod in ProductList)
    {
        <p>@prod.Name | @prod.Price</p>
    }

<MudText>Product Info</MudText>
<EditForm Model="@product" OnValidSubmit="OnValidSubmit">
    
            <MudTextField Label="Name" @bind-Value="@product.Name" />
            <MudTextField Label="Price" @bind-Value="@product.Price" />
            <MudTextField Label="Year" @bind-Value="@product.Year" />
            <MudCheckBox @bind-Value="@product.Available" />

            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled">Insert</MudButton>
    
</EditForm>
    </MudTabPanel>
    <MudTabPanel Text="Employees">
            @foreach (var emp in EmployeesList)
            {
                <p>@emp.Name | @emp.Title</p>
            }
    </MudTabPanel>
</MudTabs>


@* @if(ProductList is not null)
{
    <MudText>@ProductList.FirstOrDefault().Name</MudText>
}
else
{
    <MudButton OnClick="GetProducts"></MudButton>
} *@



</MudContainer>






