@using static MudBlazor.Colors
@inherits LayoutComponentBase

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="MyCustomTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    @* <MudAppBar Class="custom-nav"> *@
    <MudAppBar Class="">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="MudBlazor.Color.Inherit" Edge="Edge.Start" OnClick="DrawerToggle" />
        <MudButton Href="/">
            @* <MudImage Src="images/tackle_logo.svg" Width="150" Class="mt-1" /> *@
            <a class="alis-logo ms-2" href="https://www.medtelligent.com">
                <img class="alis-logo-text" src="https://www.medtelligent.com/wp-content/themes/alis/assets/alis-text-logo.png" alt="ALIS text" width="50">
                <img class="alis-butterfly" src="https://www.medtelligent.com/wp-content/themes/alis/assets/alis-butterfly.png" alt="Butterfly logo" width="50">
            </a>
            @* <MudImage Src="images/reshot.svg" Width="65" Class="mt-1 ms-1" /> *@
            @* <MudText Typo="Typo.h6" Class="ms-3">SampleCorp</MudText> *@
        </MudButton>
        @* <MudSpacer /> *@
        <MudText Typo="Typo.h5" Class="ml-5 me-3 nav-header" >Demo Dashboard</MudText>
        <MudTextField T="string" Variant="Variant.Outlined" Label="Search" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" Class="custom-searchbox"></MudTextField>
        @* <MudSpacer /> *@
        <MudIconButton Icon="@Icons.Material.Filled.Notifications"></MudIconButton>
        <MudToggleIconButton @bind-Toggled="@_isDarkMode" 
            Icon="@Icons.Material.Filled.DarkMode" Color="@MudBlazor.Color.Default" 
            ToggledIcon="@Icons.Material.Filled.WbSunny" ToggledColor="@MudBlazor.Color.Default"/>
        <MudText Class="mr-3">Welcome User Adam Smith</MudText>

        <MudBadge Color="MudBlazor.Color.Success" Overlap="true" Bordered="true" Class="mt-2">
            <MudAvatar Class="">
                <MudImage Src="images/Adam_Smith_The_Muir_portrait.jpg"></MudImage>
            </MudAvatar>
        </MudBadge>
        <MudMenu Icon="@Icons.Material.Filled.MoreVert" AriaLabel="Open user menu">
            <MudMenuItem>My account</MudMenuItem>
            <MudMenuItem>Profile</MudMenuItem>
            <MudMenuItem>Log Out</MudMenuItem>
        </MudMenu>
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="25" Anchor="Anchor.Left" Class="custom-drawer">
        @* <MudDrawerHeader>
            <MudText Typo="Typo.h6">Application</MudText>
        </MudDrawerHeader> *@
        <MudDrawerContainer Class="mt-1 custom-nav">
            <NavMenu />
        </MudDrawerContainer>
    </MudDrawer>
    @* <MudMainContent Class="custom-gradient "> *@
    <MudMainContent Class="alis-background ">
        @Body
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;
    private bool _isDarkMode = true;
    private MudTheme _theme = new();

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    MudTheme MyCustomTheme = new MudTheme()
        {
            PaletteLight = new PaletteLight()
            {
                Primary = Colors.Blue.Default,
                Secondary = Colors.Green.Accent4,
                Tertiary = Colors.Orange.Accent4,
                TertiaryLighten = Colors.Orange.Accent2,
                // AppbarBackground = "rgba(0,98,138,1)",
                // DrawerBackground = "rgba(16,110,149,1)",
                // Background = Colors.Gray.Darken1,
                AppbarBackground = Colors.Gray.Darken3,
                // DrawerBackground = Colors.Gray.Darken4
                
            },
            PaletteDark = new PaletteDark()
            {
                Primary = Colors.Blue.Darken4,
                Secondary = Colors.Green.Accent4,
                Tertiary = Colors.Red.Accent4,
                AppbarBackground = Colors.Gray.Darken3,
                // DrawerBackground = Colors.Gray.Darken1,
                // Background = Colors.Gray.Lighten1,
                
            },

            LayoutProperties = new LayoutProperties()
            {
                // DrawerWidthLeft = "260px",
                DrawerWidthLeft = "220px",
                // DrawerWidthRight = "300px",
                DrawerWidthRight = "250px",
                
            }
        };
}